:root {
  --body: #212529;
  --body-bg: #f7fbff;
  --light: #fff;
  --warnings: #ff6b6b;
}

////////////////////////////////////////////////////
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

main {
  display: block;
}

image {
  border-style: none;
}

///////////////////////////////////////////////////

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--body);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 2rem;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--light);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-block-end: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light);
  padding: 1rem 2rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-block-start: 5rem;
}

.section-title {
  margin-block-end: 1rem;
  font-size: 1.3rem;
}

section.form {
  margin-inline: 1rem;
}

section.form div {
  color: var(--warnings);

}

section.weather-data {
  padding: 1rem 5rem;
  border-radius: 5px;
}

section.weather-data div {
  margin-block: 0.3rem;
}

section.location-images {
   margin-block-end: 5rem;
}

.hidden {
  display: none;
}

.page-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day-weather-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.weather-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 19rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #035d8a;
  color: #fff
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 18rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.gallery-item p {
  margin: 10px 0 5px;
  font-size: 14px;
}
