form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

label {
    font-weight: 600;
}

#submit {
    font-weight: 600;
    cursor: pointer;
    background-color: #d8e4ff;
}

#submit:hover {
    color: #fff;
    background-color: #6895ff;
}